{% extends 'recetasApp/index.html' %} {% block Titulo %}
<header>
  <h1 class="site-heading text-center text-faded d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">~ Sabor a mi ~</span>
    <span class="site-heading-lower">Recetas</span>
  </h1>
</header>

{% endblock Titulo %} {% block Contenido %}

<hr>
<!-- Navegacion extra de recetas -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <div class="container-fluid">
    <a class="btn btn-primary" href="{% url 'receta_create'%}" role="button">Nueva receta</a>
    <form class="d-flex"action="{% url 'encontrar_Recetas'%}" method='get'>
      {% csrf_token %}
      <input class="form-control me-2" type="text" name="buscar" id="buscar">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</nav>
  <style>
    .contenedor-bordes-redondos {
      border-radius: 15px;
    }
    .bg-color-personalizado {
      background-color: #b17c54;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="bg-color-personalizado p-2 contenedor-bordes-redondos">
          <h2 class="text-center">Recetas</h2>
          <div class="row">
            {% for r in recetas %}
              <div class="col-md-4 mb-3">
                <div class="card h-100">
                  {% if r.imagenReceta %}
                      <img src="{{ r.imagenReceta.url }}" class="card-img-top" alt="...">
                  {% else %}
                      <!-- En caso de no tener una imagen, por defecto se pondra esta -->
                      <img src="/media/receta_default.png" class="card-img-top" alt="Imagen Predeterminada">
                  {% endif %}
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{r.titulo}}</h5>
                    <p class="card-text overflow-hidden" style="max-height: 100px;">{{r.descripcion}}</p>
                    <p class="card-text">{{r.autor}}</p>
                    <a href="{%url 'receta_detalle' r.id %}" class="btn btn-primary mt-auto">Mas detalles</a>
                    {% if request.user == r.autor or  request.user.is_staff %}
                    <a href="{% url 'receta_update' r.id %}" class="btn btn-primary mt-2" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                      <i class="fa fa-edit fa-sm" title="Editar"></i>
                    </a>
                    <a href="{% url 'receta_delete' r.id %}" class="btn btn-danger mt-2" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                      <i class="fa fa-trash fa-sm" title="Eliminar"></i>
                    {% endif %}
                    </a>   
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>



<hr>
<hr>
<hr>
</html>
{% endblock Contenido %} {% block InformacionExtra %}
<hr>
{% endblock InformacionExtra %}
